<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div id="app">
    <b-container>
      <b-row>
        <b-col>
          <b-form-group label="Sessions">
            <b-form-input v-model="sessionCount" />
          </b-form-group>
          <b-form-group label="Games per session">
            <b-form-input v-model="gamesPerSession" />
          </b-form-group>
          <b-form-group label="Players per game">
            <b-form-input v-model="playerCount" />
          </b-form-group>
          <b-form-group label="Imposters per game">
            <b-form-input v-model="impostersPerGame" />
          </b-form-group>
          <b-form-group label="How long is a streak, in games?">
            <b-form-input v-model="streakMinLength" />
          </b-form-group>
          <p>
            {{streaks}} of {{sessionCount}}
             ({{Math.round(streaks/sessionCount * 100)}}%)
             of {{gamesPerSession}}-game sessions with {{playerCount}} players and {{impostersPerGame}} imposters
             had a streak of at least {{streakMinLength}} games where the same person was the imposter for all games.
          </p>
          <div v-for="session in sessions" :class="{streak: session.streak}">
            {{session}}
          </div>
        </b-col>
      </b-row>
    </b-container>
  </div>
  <script src="https://unpkg.com/vue@latest/dist/vue.js"></script>
  <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
  <script src="sim.js"></script>
</body>
</html>
